<div class="card-body" style="background-color: #f4f5f7;">
    <div class="table-responsive">
        <div>
            <table class="table align-items-center" id="table_to_highlight">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="id">Book ID</th>
                        <th scope="col" class="sort" data-sort="title">Title</th>
                        <th scope="col" class="sort" data-sort="author">Author</th>
                        <th scope="col" class="sort" data-sort="isbn">ISBN</th>
                        <th scope="col" class="sort" data-sort="import">Issue</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for book in books %}
                    <tr>
                        <td class="id">
                            {{book.book_id}}
                        </td>
                        <td class="title">
                            {{book.title}}
                        </td>
                        <td class="author">
                            {{book.author}}
                        </td>
                        <td class="isbn">
                            {{book.isbn}}
                        </td>
                        <td class="issue">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#examplemodal{{ book.book_id }}"> Issue Book</button>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>