{% for book in books%}
<!-- Modal  starts-->
<div class="modal fade" id="examplemodal{{ book[0] }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <h5>Book ID : {{book[0]}}</h5>
                <h5>Title : {{book[1]}}</h5>
                <h5>Author : {{book[2]}}</h5>
                <h5>ISBN : {{book[3]}}</h5>

                <form role="form" method="POST" action="/books_import">
                    {{ form_import.hidden_tag() }}
                    <div class="row m-0">

                        {{ form_import.book_id(class="form-control" , placeholder = "Book ID" , type = "hidden" , value = book[0] ) }} 
                        {{ form_import.name(class="form-control" , placeholder = "Name" , type = "hidden" , value = book[1]) }} 
                        {{ form_import.author(class="form-control", placeholder = "Author" , type = "hidden" , value = book[2]) }} 
                        {{ form_import.isbn(class="form-control" , placeholder = "ISBN" , type = "hidden" , value = book[3] ) }}

                        <div class="col-xl-6 form-group">
                            {% if form_import.quantity.errors %}    
                                {{ form_import.quantity(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_import.quantity.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} 
                                {{ form_import.quantity(class="form-control" , placeholder = "Quantity" , type = "text" ) }} {% endif %}
                        </div>

                        <div class="col-xl-3 align-left">
                            {{ form_import.import_books(class = "btn btn-secondary" , type = "submit") }}
                        </div>
                        
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- Modal ends-->
{% endfor %}