{% for user in users %}

<!-- Modal  starts-->
<div class="modal fade" id="examplemodal_delete{{ user.member_id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form role="form" method="POST" action="/members">
                    {{ delete_form.hidden_tag() }}
                    {{ delete_form.member_id(class="form-control" , placeholder = "Member ID" , type = "hidden" , value = user.member_id ) }} 

                    <div class="row m-0">

                        <div class="col-xl-12 form-group mb-4">
                            <h4>Are you sure you want to delete ?</h4>
                        </div>

                        <div class="col-xl-3 align-right">
                            {{ delete_form.delete(class = "btn btn-primary" , type = "submit") }}
                        </div>
                        
                    </div>
                </form>
                <!-- Form ends -->
            </div>

        </div>
    </div>
</div>
<!-- Modal ends-->

{% endfor %}