<div class="card-body" style="background-color: #f4f5f7;">
    <div class="table-responsive">
        <div>
            <table class="table align-items-center" id="table_to_highlight">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="id">Member ID</th>
                        <th scope="col" class="sort" data-sort="title">Name</th>
                        <th scope="col" class="sort" data-sort="author">Email - ID</th>
                        <th scope="col" class="sort" data-sort="isbn">Contact Number</th>
                        <th scope="col" class="sort" data-sort="debt">Debt</th>
                        <th scope="col" class="sort" data-sort="edit">Edit Details</th>
                        <th scope="col" class="sort" data-sort="delete">Delete Member</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for user  in users %}
                    <tr>
                        <td class="id">
                            {{user.member_id}}
                        </td>
                        <td class="title">
                            {{user.name}}
                        </td>
                        <td class="author">
                            {{user.email}}
                        </td>
                        <td class="isbn">
                            {{user.contact}}
                        </td>
                        <td class="isbn">
                            {{user.debt}}
                        </td>
                        <td class="edit">
                            <button type="button" class="btn  btn-sm" id="import_books" data-toggle="modal" data-target="#examplemodal{{ user[0] }}" ><i class="fa fa-edit" style = "color : #172b4d"></i></button>
                        </td>
                        <td class="delete">
                            <button type="button" class="btn btn-sm" id="import_books"><i class="fa fa-trash" style = "color : #f5365c"></i></button>
                        </td>

                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
