{% extends './layout.html' %} {% block content %}

<div class="col-xl-8 order-xl-1 center">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Add Member</h3>
                </div>

            </div>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                 {{ form_add_member.hidden_tag() }}
                <h6 class="heading-small text-muted mb-2">Member information</h6>
                <div class="pl-lg-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_add_member.member_id.label(class = "form-control-label")}}
                                {% if form_add_member.member_id.errors %}    
                                {{ form_add_member.member_id(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_add_member.member_id.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                                {% else %} 
                                    {{ form_add_member.member_id(class="form-control" , placeholder = "Member ID" , type = "text" ) }} {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_add_member.name.label(class = "form-control-label")}}
                                {% if form_add_member.name.errors %}    
                                {{ form_add_member.name(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_add_member.name.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                                {% else %} 
                                    {{ form_add_member.name(class="form-control" , placeholder = "Name" , type = "text" ) }} {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-2" />
                <!-- Contact Info -->
                <h6 class="heading-small text-muted mb-2">Contact information</h6>
                <div class="pl-lg-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_add_member.email.label(class = "form-control-label")}}
                                {% if form_add_member.email.errors %}    
                                {{ form_add_member.email(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_add_member.email.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                                {% else %} 
                                    {{ form_add_member.email(class="form-control" , placeholder = "Email" , type = "text" ) }} {% endif %}
                            </div> 
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_add_member.contact.label(class = "form-control-label")}}
                                {% if form_add_member.contact.errors %}    
                                {{ form_add_member.contact(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_add_member.contact.errors %}
                                        <span>{{ error }}</span> 
                                    {% endfor %}
                                </div>
                                {% else %} 
                                    {{ form_add_member.contact(class="form-control" , placeholder = "Contact Number" , type = "text" ) }} {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-2">
                    {{ form_add_member.add(class = "btn btn-secondary" , type = "submit") }}
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}